
.players-circle {
    display: grid;
    width: 100%;
    height: 70vh;
    justify-content: space-around;
    gap: 10px;
    grid-template-areas: 'ten one two'
                            'nine none three'
                            'eight none four'
                            'seven six five'
  }
  
  .player-circle {
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgb(208, 208, 208);
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    overflow: hidden;
  }
  
  .one {
    grid-area: one;
  }
  
  .two {
    grid-area: two;
  }
  
  .three {
    grid-area: three;
  }
  
  .four {
    grid-area: four;
  }
  
  .five {
    grid-area: five;
  }
  
  .six {
    grid-area: six;
  }
  
  .seven {
    grid-area: seven;
  }
  
  .eight {
    grid-area: eight;
  }
  
  .nine {
    grid-area: nine;
  }
  
  .ten {
    grid-area: ten;
  }
  
  .player-circle span{
    text-align: center;
    margin: 0 auto;
  }
  
  .player-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;	
  }
  
  .player-circle.active {
    box-shadow: 0 0 30px 20px rgb(254, 254, 183);
  }
  
  .player-circle.target {
    box-shadow: 0 0 30px 20px rgb(247, 0, 255);
  }
  
  .player-circle.target.kissing {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 25vh;
    /* left: 25vh; */
    animation: flyTarget 3s;
    z-index: 5;
  }
  
  .player-circle.active.kissing {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 25vh;
    /* right: 25vh; */
    transition-duration: 5s;
    animation: flyActive 3s;
    z-index: 5;
  }

  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(5);
        opacity: 0.7;
    }
    90% {
      transform: scale(7);
      opacity: 0.6;
    }
    100% {
        transform: scale(9);
        opacity: 0.1;
    }
  }
  
  @keyframes kisser {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.6);
        /* opacity: 0.7; */
    }
    50% {
      transform: scale(2);
      opacity: 0.8;
    }
    75% {
        transform: scale(2.5);
        opacity: 0.1;
    }
  }
  
  @keyframes flyActive {
    0% {
      transform: scale(1);
    }
    100% {
        transform: scale(2);
        opacity: 0.7;
    }
  }
  
  @keyframes flyTarget {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1.4);
    }
    75% {
      transform: scale(1.6);
    }
    100% {
        transform: scale(2);
        opacity: 0.7;
    }
  }
  
  @media (min-width: 540px) { 
    .players-circle {
        display: grid;
        width: 600px;
        height: 70vh;
        justify-content: space-around;
        gap: 10px;
        grid-template-areas: 'ten one two'
                                'nine none three'
                                'eight none four'
                                'seven six five';
    }
  
    .player-circle {
      width: 108px;
      height: 108px;
      overflow: hidden;
      box-shadow: 0 0 5px 5px rgb(208, 208, 208);
      background-color: rgba(255, 255, 255, 0.8);
      border: 1px solid rgba(0, 0, 0, 0.8);
      border-radius: 8px;
      overflow: hidden;
    }
   }
  
   @media (max-width: 690px) {
    .player-circle.target.kissing {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 25vh;
        left: 4vh;
        animation: flyTarget 3s;
        z-index: 5;
      }
    
      .player-circle.active.kissing {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 25vh;
        right: 4vh;
        transition-duration: 5s;
        animation: flyActive 3s;
        z-index: 5;
      }
   }
  
   @media (max-width: 780px) {
    .player-circle.target.kissing {
        left: 10vh;
      }
    
      .player-circle.active.kissing {
        right: 10vh;
      }
   }
  
   @media (max-width: 900px) {
    .player-circle.target.kissing {
        left: 30vh;
      }
    
      .player-circle.active.kissing {
        right: 30vh;
      }
   }
  
   @media (max-width: 1111px) {
    .player-circle.target.kissing {
        left: 30%;
      }
    
      .player-circle.active.kissing {
        right: 30%;
      }
   }
  
   @media (max-width: 1400px) {
    .player-circle.target.kissing {
        left: 35%;
      }
    
      .player-circle.active.kissing {
        right: 35%;
      }
   }
  
   @media (max-width: 540px) {
    .player-circle.target.kissing {
      position: absolute;
      width: 120px;
      height: 120px;
      top: 25vh;
      left: 4vh;
      animation: flyTarget 3s;
      z-index: 5;
    }
  
    .player-circle.active.kissing {
      position: absolute;
      width: 120px;
      height: 120px;
      top: 25vh;
      right: 4vh;
      transition-duration: 5s;
      animation: flyActive 3s;
      z-index: 5;
    }
  
   }