/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
} */
/* Основное поле */
.game-field {
  background-image: url('./assets/background.jpg');
  position: relative;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background: #f0f8ff; */
}

/* Круг игроков */
.players-circle {
  position: relative;
  width: 500px;
  height: 500px;
}

/* Стили для каждого игрока */
.player-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  overflow: hidden;
  transition: transform 0.3s ease-in-out;
}

/* Подсветка активного и целевого игрока */
.player-circle.active {
  box-shadow: 0 0 10px 5px yellow;
}
.player-circle.target {
  box-shadow: 0 0 10px 5px red;
}

/* Бутылка */
.bottle-container {
  position: absolute;
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.bottle {
  width: 60px;
  height: 60px;
  /* background: #32cd32; */
  border-radius: 10%;
  cursor: pointer;
  background-image: url(./assets/Bottle.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* Счётчик поцелуев */
.kiss-counter {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: #333;
}
