.game-field {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f0f8ff;
    background-image: url('/src/assets/background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    /* display: grid;
    width: 100%;
    height: 70vh;
    margin-top: 15vh;
    gap: 10px;
    grid-template-areas: 'ten one two'
                            'nine none three'
                            'eight none four'
                            'seven six five' */
  }
  
  .players-circle {
    /* position: relative; */
    display: grid;
    width: 100%;
    height: 70vh;
    /* margin-top: 15vh; */
    justify-content: space-around;
    gap: 10px;
    grid-template-areas: 'ten one two'
                            'nine none three'
                            'eight none four'
                            'seven six five'
  }
  
  .player-circle {
    /* position: absolute;
    top: 50%;
    left: 50%; */
    /* width: 80px;
    height: 80px; */
    width: 20vw;
    height: 20vw;
    overflow: hidden;
    box-shadow: 0 0 5px 5px rgb(208, 208, 208);
    /* display: grid; */
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    /* padding: 20px; */
    /* font-size: 30px; */
    /* text-align: center; */
    /* width: 27vw;
    height: 20vh; */
    overflow: hidden;
  }

  .one {
    grid-area: one;
  }

  .two {
    grid-area: two;
  }

  .three {
    grid-area: three;
  }

  .four {
    grid-area: four;
  }

  .five {
    grid-area: five;
  }

  .six {
    grid-area: six;
  }

  .seven {
    grid-area: seven;
  }

  .eight {
    grid-area: eight;
  }

  .nine {
    grid-area: nine;
  }

  .ten {
    grid-area: ten;
  }

  .player-circle span{
    text-align: center;
    margin: 0 auto;
  }
  
  .player-circle img {
    width: 100%;
    height: 100%;
    object-fit: cover;	
  }
  
  .player-circle.active {
    box-shadow: 0 0 30px 20px rgb(254, 254, 183);
  }
  
  .player-circle.target {
    box-shadow: 0 0 30px 20px rgb(247, 0, 255);
  }
  
  .player-circle.target.kissing {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 25vh;
    left: 25vh;
    /* transition-duration: 5s; */
    animation: flyTarget 3s;
    z-index: 5;
  }

  /* .kissing {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 100px;
    left: 50px;
    transition-duration: 5s;
    animation: flyTarget 3s infinite;
    z-index: 5;
  } */
  
  .player-circle.active.kissing {
    position: absolute;
    width: 120px;
    height: 120px;
    top: 25vh;
    right: 25vh;
    transition-duration: 5s;
    animation: flyActive 3s;
    z-index: 5;
  }
  
  .bottle-container {
    position: absolute;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .bottle {
    width: 120px;
    height: 120px;
    /* border-radius: 10%; */
    cursor: pointer;
    background-image: url(./assets/Bottle.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
  }
  
  .kiss-counter {
    position: absolute;
    top: 20px;
    right: 40px;
    font-size: 24px;
    color: #f6f5f5;
    background-color: #333;
    padding: 8px 18px;
    border-radius: 24px;
    border: 2px solid #f0f8ff;
    box-shadow: 0 0 5px 5px rgb(208, 208, 208);
  }
  
  .countdown {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 48px;
    color: rgba(191, 5, 5, 0.775);
    z-index: 5;
    animation: pulse 1s infinite;
  }
  
  .kiss-image {
    position: absolute;
    height: 0px;
    width: 0px;
  }
  
  .kiss-visible {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100px;
    width: 100px;
    animation: kisser 3s infinite;
    z-index: 10;
  }
  
  @keyframes pulse {
    0% {
        transform: scale(1);
    }
    70% {
        transform: scale(5);
        opacity: 0.7;
    }
    90% {
      transform: scale(7);
      opacity: 0.6;
    }
    100% {
        transform: scale(9);
        opacity: 0.1;
    }
  }
  
  @keyframes kisser {
    0% {
        transform: scale(1);
    }
    25% {
        transform: scale(1.6);
        /* opacity: 0.7; */
    }
    50% {
      transform: scale(2);
      opacity: 0.8;
    }
    75% {
        transform: scale(2.5);
        opacity: 0.1;
    }
  }
  
  @keyframes flyActive {
    0% {
      transform: scale(1);
    }
  
    100% {
        transform: scale(2);
        opacity: 0.7;
    }
  }
  
  @keyframes flyTarget {
    0% {
      transform: scale(1);
    }
    25% {
      transform: scale(1.2);
    }
    50% {
      transform: scale(1.4);
    }
    75% {
      transform: scale(1.6);
    }
    100% {
        transform: scale(2);
        opacity: 0.7;
    }
  }

  @media (min-width: 540px) { 
    .players-circle {
        display: grid;
        /* grid-template-columns: auto auto auto;
    
        grid-template-rows: auto auto auto auto; */
        /* background-color: #2196F3; */
        /* padding: 10px; */


    display: grid;
    width: 600px;
    height: 70vh;
    /* margin-top: 15vh; */
    justify-content: space-around;
    gap: 10px;
    grid-template-areas: 'ten one two'
                            'nine none three'
                            'eight none four'
                            'seven six five';

        /* width: 600px;
        height: 70vh;
        margin: 15vh auto 0 auto;
        gap: 10px;
        grid-template-areas: 'ten one two'
                                'nine none three'
                                'eight none four'
                                'seven six five' */
      }

      .player-circle {
        /* position: absolute;
        top: 50%;
        left: 50%; */
        /* width: 80px;
        height: 80px; */
        width: 108px;
        height: 108px;
        overflow: hidden;
        box-shadow: 0 0 5px 5px rgb(208, 208, 208);
        /* display: grid; */
        background-color: rgba(255, 255, 255, 0.8);
        border: 1px solid rgba(0, 0, 0, 0.8);
        border-radius: 8px;
        /* padding: 20px; */
        /* font-size: 30px; */
        /* text-align: center; */
        /* width: 27vw;
        height: 20vh; */
        overflow: hidden;
      }
      
   }

   @media (max-width: 780px) {
    .player-circle.target.kissing {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 25vh;
        left: 10vh;
        /* transition-duration: 5s; */
        animation: flyTarget 3s;
        z-index: 5;
      }
    
      .player-circle.active.kissing {
        position: absolute;
        width: 120px;
        height: 120px;
        top: 25vh;
        right: 10vh;
        transition-duration: 5s;
        animation: flyActive 3s;
        z-index: 5;
      }
   }